body {
  background-image: url("imagebackground.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-display: Center;
  font-size: larger;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: center;
  color: #020202;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}

/* Style start buttons */
.startBTN {
  background-color: #acdf87;
  border-radius: 60px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 550;
  font-size: 45px;
  padding: 35px;
  margin-bottom: 100cm;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

#mscBtn {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}

button {
  background-color: #fedebe;
  border-radius: 60px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 550;
  font-size: 45px;
  padding: 35px;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

* {
  box-sizing: border-box;
  border-radius: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*Hover effect on buttons*/
.startBTN:hover {
  background-color: #6ed272;
}

button:hover {
  background-color: #f1bda0;
}

/* Texts on pages **Let's learn ASL, Pick a ..*/
p1 {
  font-size: 80px;
  font-weight: 900;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}
p2 {
  font-size: 50px;
  font-weight: 900;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}

.level {
  margin-bottom: 20px;
}

#level1 {
  padding-top: 30px;
}

.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

#output_canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: 192.5px;
  bottom: 0;
  z-index: 2;
}

#input_video {
  z-index: 3;
}

.level-title {
  font-size: 4.5rem;
  position: relative;
  top: -60px;
}

#img {
  margin-left: 250px;
  width: 390px;
  position: relative;
  top: 10px;
}

#camera {
  margin-left: 800px;
  position: relative;
  top: -750px;
}

.hand-img {
  width: 75%;
  height: auto;
}

#hand-imgs {
  padding-left: 20%;
}

#pick-hand-pos-up {
  position: relative;
  bottom: 80px;
}

#pick-level-pos-up {
  position: relative;
  bottom: 100px;
}

.levels-pos-up {
  position: relative;
  bottom: 90px;
}
